:root {
  --background: rgb(151, 208, 255);
  --tan: rgb(191, 174, 151);
  --text: black;
  --text2: rgb(8, 8, 201);
  --cream: rgb(226, 218, 207);
  --select: red;
}

* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: var(--background);
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: var(--text);
  font-family: cursive;
}

h2 {
  font-family: cursive;
  color: var(--text2);
}

a {
  color: var(--text);
  font-family: "Courier New", Courier, monospace;
}

a:hover {
  color: var(--select);
  font-family: "Courier New", Courier, monospace;
}

hr {
  border: solid 5px var(--tan);
  border-radius: 30px;
}

button {
  border-radius: 20px;
  border: 1px solid var(--tan);
  background: var(--cream);
}

span {
  font-family: "Courier New", Courier, monospace;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

.btn:focus,
.btn:active,
.btn:visited {
  outline: none !important;
  box-shadow: none !important;
  background-color: #343a40;
  border-radius: 20px;
}

#timeLeft {
  font-size: 50px;
  font-weight: 500;
}

#finalScore {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

#questionTitle {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#answerCheck {
  font-style: italic;
  color: #4d5159;
}

#start-quiz-button {
  background: var(--cream);
  font-size: 20px;
  font-weight: 600;
}

#viewScore {
  background: var(--select);
  color: white;
}
